import Sidebar from "./components/Sidebar/Sidebar";

function App() {
  return (
    <div
      style={{
        display: "flex",
      }}
    >
      <Sidebar />

      <main
        style={{
          flex: 1,
          padding: "30px",
          backgroundColor: "#F3F4F6",
          minHeight: "100vh",
        }}
      >
        <h1>Dashboard</h1>

        <p>Welcome to your Personal Financial Operating System (PFOS).</p>
      </main>
    </div>
  );
}

export default App;